# Node.js Dependencies
/node_modules
npm-debug.log
yarn-error.log

# Build Artifacts
dist/
build/

# dependencies
/node_modules
.pnp
.pnp.js

# testing
coverage

# Python (Microservices)
/__pycache__
*.pyc
/venv

# Logs
/logs
*.log
npm-debug.log*

# OS-Specific Files
# production
build

# Environment Files (Sensitive Data)
.env

# misc
/.vscode
/.idea
.DS_Store
Thumbs.db

